<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="SeleniumProject.TestComponents.Listners"></listener>
	</listeners>
  <test thread-count="5" name="SubmitOrder Test">
    <classes>
      <class name="SeleniumProject.StandAloneTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="SeleniumProject.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
